@import url(https://fonts.googleapis.com/css?family=VT323);
html { font: normal normal 16px/1.2 VT323, courier, monospace; }

body {
  color: #a34dfd;
  background-color: #000;
  margin: 0;
}

div.stopWatch {
  font-size: 6rem;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 65%;
  text-align: center;
  float: left;
  margin-top: 10vh;
}

.stopWatch button {
  background: transparent;
  border: 1px solid #a34dfd;
  color: #a34dfd;
  font-family: VT323;
  font-size: 3rem;
}

.stopWatch button:hover,
.stopWatch button:active {
  background: #bacbfe;
}

.right-cat {
  clear: both;
  float: right;
  width: 35%;
  margin-top: 20vh;
}
